// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "magic_sturdy.dtsi"

#define BASE 0
#define EXT 1
#define SYM 2
#define FNC 3
#define NUM 4

/ {
    // The Ferris Sweep / Cradio has 34 keys numbered 0 to 33.
    // Thumb keys are: 30 (Outer Left), 31 (Inner Left), 32 (Inner Right), 33 (Outer Right)
    
    combos {
        compatible = "zmk,combos";
        
        // Seniply triggers the Number layer by pressing the Shift + Sym thumbs simultaneously.
        combo_num {
            timeout-ms = <50>;
            key-positions = <31 33>; 
            bindings = <&mo NUM>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        
        // Seniply triggers the Function layer by pressing the Extend + Sym thumbs simultaneously.
        func_layer {
            if-layers = <EXT SYM>;
            then-layer = <FNC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
          bindings = <
            &kp V  &kp M  &kp L  &kp C  &kp P      &kp B  &magic &kp U     &kp O   &kp Q
            &kp S  &kp T  &kp R  &kp D  &kp Y      &kp F  &kp N  &kp E     &kp A   &kp I
            &kp X  &kp K  &kp J  &kp G  &kp W      &kp Z  &kp H  &kp COMMA &kp DOT &kp SEMI

            &mo EXT &kp LSHFT   &kp SPACE &mo SYM
          >;
        };

        extend_layer {
            bindings = <
            // ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            // │ ESC      │ BACK     │ FIND     │ FORWARD  │ INSERT   │  │ PG UP    │ HOME     │ UP       │ END      │ CAPS     │
                 &kp ESC    &kp C_AC_BACK &kp C_AC_SEARCH &kp C_AC_FORWARD &kp INS   &kp PG_UP  &kp HOME   &kp K_APP     &kp END    &kp CAPS
            // ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
            // │ sk ALT   │ sk GUI   │ sk SHIFT │ sk CTRL  │ sk ALTGR │  │ PG DN    │ LEFT     │ DOWN     │ RIGHT    │ DELETE   │
                 &sk LALT   &sk LGUI   &sk LSHFT  &sk LCTRL  &sk RALT      &kp PG_DN  &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
            // ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
            // │ UNDO     │ CUT      │ COPY     │ PASTE    │ BACKSPACE│  │ ENTER    │ BACKSPACE│ TAB      │ APP/MENU │ PAUSE    │
                 &kp K_UNDO &kp K_CUT  &kp K_COPY &kp LGUI &kp K_PASTE     &kp RET    &kp BSPC   &kp TAB    &kp DEL    &kp PAUSE_BREAK
            // ╰──────────┴──────────┴──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                  &trans     &trans        &kp RET     &trans
            >;
        };

        sym_layer {
            bindings = <
            // ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            // │  !       │  @       │  #       │  $       │  %       │  │  =       │  `       │  :       │  ;       │  +       │
                 &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT     &kp EQUAL  &kp GRAVE  &kp COLON  &kp SEMI   &kp PLUS
            // ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
            // │ sk ALT   │ sk GUI   │ sk SHIFT │ sk CTRL  │  ^       │  │  * │  (       │  {       │  [       │  -       │
                 &sk LALT   &sk LGUI   &sk LSHFT  &sk LCTRL  &kp CARET     &kp ASTRK  &kp LPAR   &kp LBRC   &kp LBKT   &kp MINUS
            // ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
            // │          │          │  \       │  |       │  &       │  │  ~       │  )       │  }       │  ]       │  _       │
                 &trans     &trans     &kp BSLH   &kp PIPE   &kp AMPS      &kp TILDE  &kp RPAR   &kp RBRC   &kp RBKT   &kp UNDER
            // ╰──────────┴──────────┴──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                  &trans     &trans        &trans     &trans
            >;
        };

        fnc_layer {
            bindings = <
            // ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            // │ STOP     │ PREV     │ PLAY/PAU │ NEXT     │ BR UP    │  │ F12      │ F7       │ F8       │ F9       │ SCROLL LK│
                 &kp K_STOP &kp K_PREV &kp K_PP   &kp K_NEXT &kp C_BRI_UP  &kp F12    &kp F7     &kp F8     &kp F9     &kp SLCK
            // ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
            // │ UNDO     │ CUT      │ COPY     │ PASTE    │ BR DN    │  │ F11      │ F4       │ F5       │ F6       │ To BASE  │
                 &sk LALT   &sk LGUI   &sk LSHFT  &sk LCTRL  &kp C_BRI_DN   &kp F11    &kp F4     &kp F5     &kp F6     &to BASE
            // ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
            // │ MUTE     │ VOL DN   │ LC(T)    │ VOL UP   │ LC(V)    │  │ F10      │ F1       │ F2       │ F3       │ Placeholder|
                 &kp K_MUTE &kp K_VOL_DN &kp LS(LC(C)) &kp K_VOL_UP &kp LS(LC(V)) &kp F10    &kp F1     &kp F2     &kp F3      &trans
            // ╰──────────┴──────────┴──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┴──────────┴──────────╯
            //                                  │ trans    │ BOOTLDR  │  │ RET-cross│ trans    │
                                                  &trans     &bootloader   &kp RET    &trans
            >;
        };

        num_layer {
            bindings = <
            // ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            // │          │          │          │          │          │  │  =       │  7       │  8       │  9       │  +       │
                 &trans     &trans     &trans     &trans     &trans        &kp EQUAL  &kp N7     &kp N8     &kp N9     &kp PLUS
            // ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
            // │ sk ALT   │ sk GUI   │ sk SHIFT │ sk CTRL  │ sk ALTGR │  │  * │  4       │  5       │  6       │  -       │
                 &sk LALT   &sk LGUI   &sk LSHFT  &sk LCTRL  &sk RALT      &kp ASTRK  &kp N4     &kp N5     &kp N6     &kp MINUS
            // ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
            // │          │          │          │          │          │  │  0       │  1       │  2       │  3       │  /       │
                 &trans     &trans     &kp TAB    &kp BSPC   &trans        &kp N0     &kp N1     &kp N2     &kp N3     &kp FSLH
            // ╰──────────┴──────────┴──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                  &trans     &trans        &trans     &trans
            >;
        };
    };
};
